/* Grayscale color scheme
 * https://coolors.co/palette/ffffff-ece5e3-c9c5c4-817d7c-6a6663-504c4a-42413f-393534-302c2a-2c2825
 */

/* Brown color scheme
 * https://coolors.co/palette/0a0908-22333b-eae0d5-c6ac8f-5e503f
 */

/* Clicked color scheme
 * https://www.pastelcolorpalettes.com/dark-christmas-pastels
 */

body {
    background-color: #2C2825;
    color: #ECE5E3;
    margin: 25mm;
}

#table-wrapper {
    float: left;
    margin: 0mm;
}

.form-wrapper {
    float: left;
    border-style: solid;
    border-color: #393534;
    border-width: 10mm;
    margin-left: 10mm;
    margin-bottom: 10mm;
    padding: 5mm;
    max-width: 250px;
}

table {
    border-spacing: 0px;
}

td {
    padding: 0px;
}

.left-right-header {
    width: 10mm;
    height: 25mm;
    background-color: #393534;
    color: lightgray;
    text-align: center;
}

.bottom-top-header {
    width: 25mm;
    height: 10mm;
    background-color: #393534;
    color: lightgray;
    text-align: center;
}

.corner-header {
    width: 10mm;
    height: 10mm;
    background-color: #393534;
}

.square {
    width: 25mm;
    height: 25mm;
    text-align: center;
}

.light-square {
    background-color: #eae0d5;
    color: black;
}

.dark-square {
    background-color: #5e503f;
    color: white;
}

img {
    width: 20mm;
    height: 20mm;
    margin: 0;
    /*margin: 10%;*/
}

.ally {
    background-color: #93B5A2;
    /*green*/
}

.enemy {
    background-color: #A37067;
    /*red*/
}

.clicked {
    background-color: #59757D;
    /*blue*/
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

#bibliography {
    margin-top: 10px;
}

#bibliography a {
    color: #bbb;
}